.card1{
    box-shadow: 0 4px 8px 0 rgba(241, 8, 8, 0.2);
    max-width: 60%;
    margin: auto;
    text-align: center;
    font-size: larger;
    padding: 3%;
    text-align: justify;
}
#ig{
    max-width: 110%;
    margin: auto;
}


.card-grid, .card {
    padding: auto;
    height: auto ;
    justify-content: center;
    margin: auto;
    
}